.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90%;
  width: 100%;
  background-color: #efe7ef;
  padding: 10px;
}
.card {
  height: 175px;
  width: 110px;
  box-shadow: 0 4px 8px 0 rgba(244, 244, 245, 0.92);
  border: none;
  border-radius: 5px;
  background-color: #e1dfdf;
}

.card img {
  height: 100px;
  width: 100%;
}

.card p {
  margin: 0px;
}

.button {
  background-color: #007bff;
  color: white;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 3px;
}
