.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90%;
  width: 100%;
  background-color: #efe7ef;
  padding: 10px;
}
.card {
  /* display: flexbox; */
  /* flex-direction: column; */
  height: 180px;
  width: 110px;
  box-shadow: 0 4px 8px 0 rgba(244, 244, 245, 0.92);
  border: 0.5px solid black;
  border-radius: 5px;
  background-color: #e1dfdf;
}

.card button {
  background-color: #007bff;
  color: white;
  margin-top: 0px;
}
